@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------------------EVENT PAGE STARTS HERE ---------------------------------------*/



.bgContainer{

    width: 1440px;
}

.bgTitle{
    position: absolute;
    width: 1068px;
    height: 54px;
    left: 122px;
    top: 770px;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    
    display: flex;
    align-items: center;
    
    color: #272834;
}


.bgDescription{
    
    position: absolute;
    width: 1191px;
    height: 99px;
    left: 123px;
    top: 840px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 149.8%;
    text-align: justify;
    color: #807878;


}

.eventDateTime img{
    position: absolute;
    left: 122px;
    top: 963px;
    height: 22.5px;
    width: 22.5px;

}

.eventDateTimeText{
    
    position: absolute;
    width: 400px;
    height: 33px;
    left: 158px;
    top: 963px;
    line-height: 149.8%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    text-align: justify;
    color: #4b4b4b;
}


.eventDuration img{
    position: absolute;
    left: 561.75px;
    top: 967px;
    height: 22.5px;
    width: 22.5px;

}

.eventDurationText{
    
    position: absolute;
    width: 400px;
    height: 33px;
    left: 593.5px;
    top: 963px;
    line-height: 149.8%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    text-align: justify;
    color: #4b4b4b;;
}


.eventVenue img{
    position: absolute;
    left: 958px;
    top: 967px;
    height: 22.5px;
    width: 19.5px;

}

.eventVenue1 img{
    position: absolute;
    left: 962.25px;
    top: 971px;
    height: 11.5px;
    width: 11.5px;

}

.eventVenueText{
    
    position: absolute;
    width: 400px;
    height: 33px;
    left: 990.25px;
    top: 963px;
    line-height: 149.8%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    text-align: justify;
    color: #4b4b4b;;
}


.bgRegisterButton{
    position: absolute;
    width: 222px;
    height: 49px;
    left: 122px;
    top: 1035px;
    background: linear-gradient(93.44deg, #444BAB -6.8%, #3CA5C2 186.94%);
    border-radius: 6px;
}

.bgRegisterButtonText{
    position: absolute;
    width: 133px;
    height: 27px;
    left: 44px;
    top: 11px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 149.8%;
    color: #FFFFFF;
}


.eventPeople img{
    position: absolute;
    left: 372.17px;
    top: 1046.33px;
    height: 27.33px;
    width: 33.67px;
}

.eventPeopleText{
    position: absolute;
    width: 355px;
    height: 24px;
    left: 421px;
    top: 1045px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 149.8%;
    text-align: justify;
    color: #505050;
}



.main-container{
    position: absolute;
    width: 1440px;
    height: 971px;
    left: 0px;
    top: 1140px;
    background: rgba(68, 75, 171, 0.03);
}

.bgHeading1{
    position: absolute;
    width: 208px;
    height: 27px;
    left: 114px;
    top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 200.8%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.bgDescription1{
    position: absolute;
    width: 1191px;
    height: 99px;
    left: 114px;
    top: 115px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 149.8%;
    text-align: justify;
    color: #706e6e;

}

.bgHeading2{
    position: absolute;
    width: 344px;
    height: 27px;
    left: 114px;
    top: 254px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 200.8%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.outcomeBox1{
    position: absolute;
    width: 371px;
    height: 133px;
    left: 114px;
    top: 368px;

    background: #FFFFFF;
    box-shadow: 0px 0.2px 4px rgba(0, 0, 0, 0.11);
    border-radius: 8px;
}

.outcomeBox1logo img{ 
    margin-top: 39px;
    margin-left: 28.75px;
    height: 52.18px;
    width: 58.5px;
}

.outcomeBox1Text{
    position: absolute;
    width: 242px;
    height: 87px;
    left: 119px;
    top: 23px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 149.8%;
    color: #646464;
}


.outcomeBox2{
    position: absolute;
    width: 371px;
    height: 133px;
    left: 533px;
    top: 368px;

    background: #FFFFFF;
    box-shadow: 0px 0.2px 4px rgba(0, 0, 0, 0.11);
    border-radius: 8px;
}

.outcomeBox2logo img{ 
    margin-top: 26px;
    margin-left: 28.75px;
    height: 80px;
    width: 76px;
}

.outcomeBox2Text{
    position: absolute;
    width: 242px;
    height: 87px;
    left: 119px;
    top: 23px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 149.8%;
    color: #646464;
}

.outcomeBox3{
    position: absolute;
    width: 371px;
    height: 133px;
    left: 939px;
    top: 368px;

    background: #FFFFFF;
    box-shadow: 0px 0.2px 4px rgba(0, 0, 0, 0.11);
    border-radius: 8px;
}

.outcomeBox3logo img{ 
    margin-top: 26px;
    margin-left: 28.75px;
    height: 80px;
    width: 76px;
}

.outcomeBox3Text{
    position: absolute;
    width: 242px;
    height: 87px;
    left: 119px;
    top: 23px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 149.8%;
    color: #646464;
}


.outcomeBox4{
    position: absolute;
    width: 371px;
    height: 133px;
    left: 325px;
    top: 541px;

    background: #FFFFFF;
    box-shadow: 0px 0.2px 4px rgba(0, 0, 0, 0.11);
    border-radius: 8px;
}

.outcomeBox4logo img{ 
    margin-top: 39px;
    margin-left: 28.75px;
    height: 52.18px;
    width: 58.5px;
}

.outcomeBox4Text{
    position: absolute;
    width: 242px;
    height: 87px;
    left: 119px;
    top: 39px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 149.8%;
    color: #646464;
}


.outcomeBox5{
    position: absolute;
    width: 371px;
    height: 133px;
    left: 734px;
    top: 541px;
    background: #FFFFFF;
    box-shadow: 0px 0.2px 4px rgba(0, 0, 0, 0.11);
    border-radius: 8px;
}

.outcomeBox5logo img{ 
    margin-top: 39px;
    margin-left: 28.75px;
    height: 52.18px;
    width: 58.5px;
}

.outcomeBox5Text{
    position: absolute;
    width: 242px;
    height: 87px;
    left: 119px;
    top: 39px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 149.8%;
    color: #646464;
}

.bgRegisterButton2{
    position: absolute;
    width: 222px;
    height: 49px;
    left: 605px;
    top: 720px;
    background: linear-gradient(93.44deg, #444BAB -6.8%, #3CA5C2 186.94%);
    border-radius: 6px;
}

.bgRegisterButtonText2{
    position: absolute;
    width: 133px;
    height: 27px;
    left: 44px;
    top: 11px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 149.8%;
    color: #FFFFFF;
}

.eventPeople2 img{
    position: absolute;
    left: 555.17px;
    top: 800.33px;
    height: 27.33px;
    width: 33.67px;
}

.eventPeopleText2{
    position: absolute;
    width: 355px;
    height: 24px;
    left: 604px;
    top: 800.33px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 149.8%;
    text-align: justify;
    color: #505050;
}

.logoLinkedin img{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 110px;
    top: 875px;

}

.logoFacebook img{
    position: absolute;
    width: 90px;
    height: 90px;
    left: 196px;
    top: 875px;

}



/* ------------------------------------EVENT PAGE ENDS HERE ---------------------------------------*/


/* ----------------------------------- SUCCESS STORIES STARTS HERE -------------------------------------*/

#myCarousel {
    width: 100%;
}

.success-stories-container {
    position: absolute;
    top: 2150px;
    left: 160px;
    width: 1200px;
}

#successCtn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    margin: 0;
}

/* Carousel Part */
.carousel-container {
    display: flex;
    padding: 0;
    justify-content: center;
}

.carousel-left-control {
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.carousel-right-control {
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-middle {
    width: 84%;
    padding-bottom: 2rem;
}

.carousel-nav-icon {
    color: gainsboro;
}

.carousel-nav-icon:hover {
    color: lightgray;
    cursor: pointer;
}

.carousel-indicators button {
    height: 10px !important;
    width: 10px !important;
    margin: 0 10px !important;
    border-radius: 100%;
    background-color: #C4C4C4 !important;
    border: 0px !important;
}

.carousel-indicators>button.active {
    height: 10px !important;
    width: 10px !important;
    margin: 0 10px !important;
    border-radius: 100%;
    background-color: #3E8EBC !important;
    border: 0px !important;
}

.succTitle {
    text-align: center;
    color: #444BAB;
    line-height: 29.96px;
    font-weight: 600;
}

.succText {
    color: #4F516B;
    font-weight: 600;
    line-height: 53.93px;
    text-align: center;
}

#sstories {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Poppins;
    width: 100%;
}

.cItem {
    width: 100%;
    padding: 1rem;
    display: flex;
    column-gap: 30px;
}

#studentName {
    font-weight: bold;
    margin-top: 20px;
    font-size: 1.5rem;
}

#studentTitle {
    font-weight: normal;
    font-size: 1.5rem;
}

.bgColorGray {
    color: black;
}

#successBtn1 {
    background-color: #444bab;
    color: white;
    border: 0 solid black;
    border-radius: 8px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    margin-top: 25px;
    font-size: 1.2rem;
    margin-bottom: 50px;
    width: 25%;
}

#successBtn2 {
    background: linear-gradient(93.44deg, #444bab -6.8%, #3ca5c2 186.94%);
    border-radius: 8px;
    color: white;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border: none;
    font-size: 1.2rem;
    width: 40%;
}

#freetrialboxsuc {
    width: 50%;
    display: flex;
    justify-content: center;
    border: 1px solid lightgray;
    padding: 2px;
    border-radius: 8px;
    background: #FAFAFB;
}

#inputEmail {
    background: #FAFAFB;
    border-radius: 6px;
    font-family: Poppins;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px;
    width: 60%;
    border: 0px solid gray;
}

#inputEmail:focus {
    outline: none !important;
}

#ssbox2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 10px;
    margin-top: 50px;
}

#pCaption {
    font-size: 1.5rem;
}

/* Blogs section */

.blogs {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
}

.cardsCtn {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.cards {
    width: 27%;
    padding-bottom: 20px;
}

.cardImage {
    width: 100% !important;
    padding: 0;
    margin: 0;
}

.cardCaption {
    margin: 0;
    width: 100% !important;
}

.cardTitle {
    color: #4F516B;
    font-weight: bold;
    margin-top: 20px;
    padding: 0.4rem;
    font-family: Poppins;
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
}

.cardDesc {
    color: #5A5959;
    margin-top: 20px;
    padding: 0.4rem;
    font-family: Poppins;
    margin-left: 0;
    margin-right: 0;
    font-size: 1.2rem;
}

.blogs > p {
   font-size: 1.2rem; 

}

/* Videos Section */
.videos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 35px;
    align-items: center;
    font-family: Poppins;
    font-weight: 700;
    width: 100%;
    padding-top: 1rem;
    background: #F5F5F5;
    background-image: url('Resources\\Video Image\\Rectangle 330.png');
    background-size: contain;

}

.videoCards {
    height: 188px;
    width: 340px;
    margin-top: 3%;
    background-image: url("Resources\\Video Images\\Rectangle 1759.png");
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-size: contain;
}

.videoCardsCtn {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 15%;

}


/*------------------------------------- SUCCESS STORIES ENDS HERE -------------------------------------*/


/*---------------------------------------- FOOTER STARTS HERE -----------------------------------------*/

/* Footer Container */
footer {
    width: 100%;
    position: absolute;
    top: 4750px;
    padding: 10px;
    font-size: 13px;
    line-height: 20px;
}

/* Top Horizontal line */
#footer-hr1 {
    position: absolute;
    width: 100vw;
    bottom: 520px;
    left: 0;
}

/* Row Container */
.row {
    width: 88%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.column-1 h2 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 30px;
    line-height: 149.8%;
    padding-bottom: 24px;
    color: #4F516B;
}

.column-1 h4 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    line-height: 149.8%;
    padding-bottom: 46px;
    color: #505050;
}

/* Column 1 list items */
ul {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #4F516B;
    margin-left: -30px;
    width: fit-content;
    column-gap: 35px;
}

.column-1 ul li a {
    color: #505050;
    text-decoration: none;
}

/* Brand logo */
.logo {
    height: 60.75px;
    width: 365px;
    position: absolute;
    left: 1000px;
    bottom: 440px;
}

/* Description below brand title */
.column-2 p {
    position: absolute;
    width: 466px;
    height: 48px;
    left: 1000px;
    top: 100px;

    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #505050;
}

/* Social media logos */
.logos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    position: absolute;
    left: 1000px;
    top: 180px;
}

.linkedin {
    background: #FAFAFB;
    border-radius: 4px;
    padding: 8px
}

.youtube {
    background: #FAFAFB;
    border-radius: 4px;
    padding: 8px
}

.fb {
    background: #FAFAFB;
    border-radius: 4px;
    padding: 8px
}

.insta {
    background: #FAFAFB;
    border-radius: 4px;
    padding: 8px
}

.telegram {
    background: #FAFAFB;
    border-radius: 4px;
    padding: 8px
}

/* Chat with an expert image */
.bottom-logo {
    color: #FFFFFF;
    width: 300px;
    height: 70px;
    position: absolute;
    left: 1110px;
    bottom: 64px;

    font-family: 'Gilroy-Bold';
    font-size: 22px;
    line-height: 26px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Copyright */
.copyright {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: -9px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 149.8%;
    text-align: center;
    color: #66747B;
}

/*----------------------------------------- FOOTER ENDS HERE ------------------------------------------*/